openapi: 3.1.0
info:
  title: Google Ad Manager adUnits Networks API
  description: The Google Ad Manager API provides programmatic access to manage Ad Manager data including networks, ad units, companies, orders, placements, line items, creatives, reports, and targeting configurations.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/ad-manager/api/start
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://admanager.googleapis.com
  description: Ad Manager API server
security:
- oauth2:
  - https://www.googleapis.com/auth/admanager
tags:
- name: Networks
paths:
  /v1/networks:
    get:
      summary: Google Ad Manager List networks
      description: Lists networks accessible by the current user.
      operationId: listNetworks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponse'
      tags:
      - Networks
components:
  schemas:
    Network:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        networkCode:
          type: string
        propertyCode:
          type: string
        timeZone:
          type: string
        currencyCode:
          type: string
    ListNetworksResponse:
      type: object
      properties:
        networks:
          type: array
          items:
            $ref: '#/components/schemas/Network'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/admanager: Manage Ad Manager data
