openapi: 3.1.0
info:
  title: Google Ad Manager adUnits API
  description: The Google Ad Manager API provides programmatic access to manage Ad Manager data including networks, ad units, companies, orders, placements, line items, creatives, reports, and targeting configurations.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/ad-manager/api/start
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://admanager.googleapis.com
  description: Ad Manager API server
security:
- oauth2:
  - https://www.googleapis.com/auth/admanager
tags:
- name: adUnits
paths:
  /v1/{parent}/adUnits:
    get:
      summary: Google Ad Manager List ad units
      description: Lists ad units in the specified network.
      operationId: listAdUnits
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdUnitsResponse'
      tags:
      - adUnits
components:
  schemas:
    ListAdUnitsResponse:
      type: object
      properties:
        adUnits:
          type: array
          items:
            $ref: '#/components/schemas/AdUnit'
        nextPageToken:
          type: string
    AdUnit:
      type: object
      properties:
        name:
          type: string
        adUnitId:
          type: string
        displayName:
          type: string
        adUnitCode:
          type: string
        parentAdUnit:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - ARCHIVED
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/admanager: Manage Ad Manager data
